<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>

	{% load staticfiles %}
	<link rel="stylesheet" href="{% static 'quotes/css/style.css' %}">

</head>
<body>


<div class="wrapper">
<header>
		<!-- Making a reverse link looks like this -->
	<a href="{% url 'formv:logout' %}">Logout</a>
	<!-- <a href="{#{% url 'formv:index' %}}">Logout</a> -->

</header>


	{% if messages %}
		<ul class="messages">
		    {% for message in messages %}
		    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
		        {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Important: {% endif %}
		        {{ message }}
		    </li>
		    {% endfor %}
		</ul>
	{% endif %}


	<h1 class="debug">Quotes</h1>

	<div class="postwrapper">
		{%for post in allposts%}
		<div class="card">
			<p>{{post.quotedby}}: {{post.message}}
			</p>
			<a href="{% url 'quotes:addfavorite' post.id %}">
				<button>Add to my list</button>
			</a>
			<p>Posted by <a href="{% url 'quotes:showuser' post.postedby.id %}">{{post.postedby.alias}}</a></p>
		</div>
		{% endfor %}
	</div>


	<div class="postwrapper">
		{%for favorite in favorites%}
		<div class="card">
			<p>{{favorite.favoritequote.quotedby}}: {{favorite.favoritequote.message}}
			</p>
			<a href="{% url 'quotes:removefavorite' favorite.id %}">
				<button>Remove from my list</button>
			</a>
			<p>Posted by <a href="{% url 'quotes:showuser' favorite.favoritequote.postedby.id %}">{{favorite.favoritequote.postedby.alias}}</a></p>
		</div>
		{% endfor %}
	</div>



	<form action="{% url 'quotes:addquote' %}" method="POST">
		{% csrf_token %}
		<fieldset>
		<h1>Contribute a Quote</h1>
		<label for="quotedby">
			Quoted by: 
			<input type="text" name="quotedby" id="quotedby">	
		</label>
		<label for="message">
			Message: 
			<input type="text" name="message" id="message">
		</label>
		
		<input type="submit" value="Submit">
		</fieldset>
	</form>
</div>
</body>
</html>